<!DOCTYPE html>

<html>

    <head>
        ...
    </head>

    <body>
        <div th:fragment="jumbotron">
            <div class="jumbotron">
                <h1 class="display-4" align="center">
                    <small>Total Confirmed Cases Worldwide:&nbsp;</small><strong><strong><span th:text="${totalConfirmed}">-</span></strong></strong>
                    <hr class="mt-4 mb-2">
                    <small><small class="text-muted">
                        Deaths:&nbsp;<strong><span th:text="${totalDeaths}">-</span></strong>&emsp;&emsp;Recovered:&nbsp;<strong><span th:text="${totalRecovered}">-</span></strong>&emsp;&emsp;Active:&nbsp;<strong><span th:text="${totalActive}">-</span></strong>
                    </small></small>
                </h1>
            </div>
        </div>
    </body>

</html>