<!DOCTYPE html>
<html>
    <head>
        ...
    </head>
    <body>
        <div id="navbarid" th:fragment="navbar">
            <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
                <a class="navbar-brand" href="/">
                <img src="/images/virus.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
                &nbsp;Coronavirus Report</a>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/all-regions">All Regions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/swagger-ui.html">API</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about-me">About Me</a>
                    </li>
                </ul>
            </nav>
        </div>
    </body>
</html>