<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Coronavirus Report - Error</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"> </script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <style>
            #page {
                position: relative;
                min-height: 100vh;
            }

            .container {
                padding-bottom: 2.5rem;
            }

            #footer {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 2.5rem;
            }

            .rounded {
                width: 300px;
                margin: auto;
                display: block;
            }
        </style>
    </head>

    <body>
        <div id="page">
            <div th:replace="fragments/navbar :: navbar"></div>
            <div class="container">
                <br><h1>Error - 404 Not Found</h1><hr/><br>
                <div class="row">
                    <div class="col-lg-4 mb-4">
                        <img th:src="@{/images/404-image.png}" class="rounded img-fluid" alt="404 error" style="width:300px;">
                    </div>
                    <div class="col-lg-8 mb-4">
                        <h1 align="center">Oops!</h1>
                        <p align="center" style="font-size:130%;">
                            It seems you have wandered off into uncharted territory.<br>
                            The page you requested does not exist.<br><br>
                            <a class="btn btn-primary btn-lg" href="/" role="button">Take me back!</a>
                        </p>
                    </div>
                </div>
            </div>
            <div th:replace="fragments/footer :: footer"></div>
        </div>
    </body>

</html>