<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Coronavirus Report - Region-Wise Stats</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167118584-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-167118584-1');
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"> </script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <style>
            #page {
                position: relative;
                min-height: 100vh;
            }

            .container {
                padding-bottom: 2.5rem;
            }

            #footer {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 2.5rem;
            }
        </style>
    </head>

    <body>
        <div id="page">
            <div th:replace="fragments/navbar :: navbar"></div>
            <div class="container">
                <br><h1>Region-Wise Stats</h1><br>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Region</th>
                            <th>Confirmed</th>
                            <th>Deaths</th>
                            <th>Recovered</th>
                            <th>Active</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="dailyReportEntry : ${dailyReportEntries}">
                            <td th:text="${dailyReportEntry.regionKey}">nil</td>
                            <td th:text="${dailyReportEntry.confirmed}">-</td>
                            <td th:text="${dailyReportEntry.deaths}">-</td>
                            <td th:text="${dailyReportEntry.recovered}">-</td>
                            <td th:text="${dailyReportEntry.active}">-</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div th:replace="fragments/footer :: footer"></div>
        </div>
    </body>

</html>